@using rentaCar.Models.Entities;

@model IEnumerable<rentaCar.Models.Entities.customers>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    WebGrid grid = new WebGrid(Model);

}
<asp:GridView runat="server" ></asp:GridView>
<div class="container">
    <h4>Müşteriler</h4>
    <hr />
    <div>
        @grid.GetHtml(
        tableStyle: "table-bordered col-md-12 text-center",
        columns: grid.Columns(
                grid.Column("Id", "ID"),
                grid.Column("IdentitiyNumber", "TC"),
                grid.Column("FullName", "Ad Soyad"),
                grid.Column("Phone", "Telefon"),
                grid.Column("Adress", "Adres"),
                grid.Column("Mail", "E-Posta"),
                grid.Column("DriverLicenseNo", "Sürücü Belge No"),
                grid.Column("Düzenle", format: @<text> <a href="/Customers/GetCustomer/@item.Id" class="btn btn-info">Düzenle</a> </text>),
grid.Column("Sil", format: @<text> <a href="/Customers/DeleteCustomer/@item.Id" class="btn btn-danger">Sil</a> </text>)
)
)
    </div>
   
    <a href="/Customers/NewCustomer/" class="btn btn-success">Müşteri Ekle</a>


</div>


@*<div class="container">
    <h4>MÜŞTERİLER</h4>
    <hr />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>TC</th>
                <th>AD SOYAD</th>
                <th>TELEFON</th>
                <th>ADRES</th>
                <th>MAİL</th>
                <th>EHLİYET NO</th>
                <th>Güncelle</th>
                <th>Sil</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model)
            {
                <tr class="text-center">
                    <td>@x.Id</td>
                    <td>@x.IdentitiyNumber</td>
                    <td>@x.FullName</td>
                    <td>@x.Phone</td>
                    <td>@x.Adress</td>
                    <td>@x.Mail</td>
                    <td>@x.DriverLicenseNo</td>
                    <td>
                        <a href="/Customers/GetCustomer/@x.Id" class="btn btn-info">Güncelle</a>
                    </td>
                    <td>
                        <a href="/Customers/DeleteCustomer/@x.Id" class="btn btn-danger">Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a href="/Customers/NewCustomer/" class="btn btn-success">Yeni Müşteri</a>
</div>*@



