@using rentaCar.Models.Entities

@model IEnumerable<rentaCar.Models.Entities.cars>

@*@model List<cars>*@
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    WebGrid grid = new WebGrid(Model);
}

<div class="container">
    <h4>Tüm Araçlar</h4>
    <hr />
    <div>
        @grid.GetHtml(
             tableStyle: "table-bordered col-md-12 text-center",
             columns: grid.Columns(
                     grid.Column("Id", "ID"),
                     grid.Column("LicensePlate", "Plaka"),
                     grid.Column("Brand", "Marka"),
                     grid.Column("Model", "Model"),
                     grid.Column("ProductYear", "Yıl"),
                     grid.Column("Color", "Renk"),
                     grid.Column("km", "KM"),
                     grid.Column("CarType", "Araç Tipi"),
                     grid.Column("RentState", "Kira Uygunluk"),
                     grid.Column("DailyPrice", "Günlük Ücret"),
                     grid.Column("Düzenle", format: @<text> <a href="/GetCar/GetCar/@item.Id" class="btn btn-info">Düzenle</a> </text>),
                     grid.Column("Sil", format: @<text> <a href="/Cars/DeleteCar/@item.Id" class="btn btn-danger">Sil</a> </text>)

)
)
    </div>

    <div class="">
        <a href="/NewCar/NewCar/" class="btn btn-success">Araç Ekle</a>
    </div>

</div>

<script>

</script>


@*<div class="container">
        <h4>TÜM ARAÇLAR</h4>
        <hr />
        <table class="table table-bordered"
                <tr class="text-center">
                    <th>ID</th>
                    <th>License Plate</th>
                    <th>Brand</th>
                    <th>Model</th>
                    <th>Product Year</th>
                    <th>Color</th>
                    <th>Km</th>
                    <th>Car Type</th>
                    <th>Rent State</th>
                    <th>Daily Price</th>
                    <th>Güncelle</th>
                    <th>Sil</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model)
                {
                    <tr class="text-center">
                        <td>@x.Id</td>
                        <td>@x.LicensePlate</td>
                        <td>@x.Brand</td>
                        <td>@x.Model</td>
                        <td>@x.ProductYear</td>
                        <td>@x.Color</td>
                        <td>@x.km</td>
                        <td>@x.CarType</td>
                        <td>@if(@x.RentState==0)
                        {
                            <p>Uygun</p>
                        }else{
                            <p>Uygun Değil</p>
                        }
                        </td>
                        <td>@x.DailyPrice</td>
                        <td>
                            <a href="/Cars/GetCar/@x.Id" class="btn btn-info">Güncelle</a>
                        </td>
                        <td>
                            <a href="/Cars/DeleteCar/@x.Id" class="btn btn-danger">Sil</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        <a href="/Cars/NewCar/" class="btn btn-success">Araç Ekle</a>
    </div>*@


